<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link rel="stylesheet" href="/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/index.css"/>
</head>
<body>
<main class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Log</h3>
    </div>
    <div id="log" class="panel-body"></div>
    <div id="controls" class="panel-footer">
        <form id="frm">
            <input type="text" id="field" class="text-primary" placeholder="command" title="

run
stop
goForward:0.05
goForward:0.1
goForward:0.2
goForward:0.3
goBackward:0.05
goBackward:0.1
goBackward:0.2
goBackward:0.3

            "/>
            <button type="submit" class="btn btn-primary">Command</button>
        </form>
    </div>
</main>
<script src="/bootstrap.min.js"></script>
<script src="/index.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>